/**=====================
    Typography css start
==========================**/
body {
    font-size: 14px;
    font-family: $font-rubik, $font-serif;
    @include media-breakpoint-down(md) {
        font-size: 13px;
    }
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

h1 {
    font-size: 3.4375rem;
    line-height: 1.2;
    font-weight: 500;
    @media (max-width: 1460px) {
        font-size: 3.125rem;
    }
    @include media-breakpoint-down(xxl) {
        font-size: 2.8125rem;
    }
    @include media-breakpoint-down(xl) {
        font-size: 2.5rem;
    }
    @include media-breakpoint-down(lg) {
        font-size: 2rem;
    }
}

h2 {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 500;
}

h3 {
    font-size: 1.875rem;
    line-height: 1.2;
    font-weight: 500;
}

h4 {
    font-size: 1.625rem;
    line-height: 1.2;
    font-weight: 500;
}

h5 {
    font-size: 1.375rem;
    line-height: 1.2;
    font-weight: 400;
}

h6 {
    font-size: 1.125rem;
    line-height: 1.2;
    font-weight: 400;
}

a, li {
    font-size: 1rem;
    line-height: 1.2;
}

p {
    font-size: 1rem;
    color: rgba(var(--theme-body-sub-title-color), 1);
    letter-spacing: 0.3px;
    margin-bottom: 0;
}

li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

/**=====================
    Typography css end
==========================**/