
/* general variables */
:root {
    --theme-body-font-color: 0, 2, 72;
    --theme-body-sub-title-color: 82, 82, 108;
}

/* Theme colors variables */
$primary-color: #7366FF;
$secondary-color: #FF3364;
$success-color: #54BA4A;
$info-color : #16C7F9;
$warning-color: #FFAA05;
$danger-color: #FC4438;
$light-color : #f4f4f4;

/* font variables */
$font-rubik: Rubik;
$font-roboto: Roboto;
$font-serif: sans-serif;
$landing-cursive: 'Caveat', cursive;