/**=====================
    About css start
==========================**/
.about-style-1 {
    .about-images-wrapper {
        position: relative;
        .left-image {
            position: absolute;
            left: -11%;
            top: 15%;
            animation: up-down 4s infinite;
            @media (max-width: 1600px) {
                left: -6%;
            }
            @include media-breakpoint-down(lg) {
                left: -4%;
            }
            @include media-breakpoint-down(sm) {
                left: 1%;
            }
            @media (max-width: 480px) {
                display: none;
            }
        }
        .right-image {
            position: absolute;
            right: 0;
            bottom: 10%;
            animation: up-down 3s infinite;
            @include media-breakpoint-down(xl) {
                bottom: 0;
            }
            @media (max-width: 480px) {
                display: none;
            }
        }
        .about-image {
            width: 90%;
        }
    }
    .about-content {
        ul {
            position: relative;
            margin-top: .9375rem;
            &::before {
                position: absolute;
                content: '';
                width: 0;
                height: calc(100% - 70px);
                border: 1px dashed rgba(var(--theme-body-sub-title-color), 0.5);
                top: 50%;
                left: 16px;
                transform: translateY(-50%);
            }
            li {
                display: flex;
                align-items: center;
                gap: .9375rem;
                .about-icon {
                    width: 2.125rem;
                    height: 2.125rem;
                    border-radius: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    svg {
                        width: 1.125rem;
                        height: 1.125rem;
                    }
                }
                + li {
                    margin-top: 2rem;
                    @include media-breakpoint-down(xl) {
                        margin-top: 1rem;
                    }
                }
            }
        }
    }
    .row {
        > div {
            &:last-child {
                @include media-breakpoint-down(lg) {
                    order: -1;
                }
            }
        }
    }
}
.about-style-2 {
    .blockquote {
        border-left: 4px solid rgba(var(--primary), 1);
        padding: .9375rem 1.5rem;
        margin-top: .9375rem;
        margin-bottom: 1.875rem;
        @include media-breakpoint-down(md) {
            padding: .9375rem;
            margin-top: .625rem;
            margin-bottom: 1.25rem;
        }
    }
}
.about-style-3 {
    .about-content {
        .title-style-2 {
            h2 {
                &::after {
                    left: 0;
                }
            }
        }
        p {
            margin-block: 1.875rem;
            @include media-breakpoint-down(md) {
                 margin-block: 1.25rem;
            }
        }
        a {
            svg {
                font-size: .75rem;
            }
        }
    }
    .left-image {
        margin-top: -38%;
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
    .about-image-wrapper {
        @include media-breakpoint-up(sm) {
            margin-bottom: -1.625rem;
        }
    }
    .row {
        > div {
            &:last-child {
                @include media-breakpoint-down(lg) {
                    order: -1;
                }
            }
        }
    }
}

/**=====================
    About css end
==========================**/