/**=====================
    Feature css start
==========================**/
.feature-style-1 {
    .feature-wrapper {
        position: relative;
        padding: .75rem;
        @include media-breakpoint-down(xl) {
            padding: 0;
        }
        h3 {
            font-size: 1.0625rem;
            color: rgba(var(--theme-body-sub-title-color), 1);
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            @include media-breakpoint-down(sm) {
                height: auto;
            }
        }
        .feature-icon {
            width: 3.75rem;
            height: 3.75rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            margin: 0 auto .625rem;
            @include media-breakpoint-down(xl) {
                width: 2.8rem;
                height: 2.8rem;
            }
            img {
                @include media-breakpoint-down(xl) {
                    width: 1.25rem;
                    height: 1.25rem;
                }
            }
        }
        .feature-outline-box {
            padding: 3px 3px 0;
            border-radius: 1.5625rem;
            box-shadow: 30px 30px 33px rgba(119, 119, 119 , 0.25);
            @include media-breakpoint-down(xl) {
                box-shadow: 10px 10px 16px rgba(119, 119, 119 , 0.25);
            }
            
        }
        .feature-box {
            text-align: center;
            padding: 2.25rem .8125rem;
            background: rgba(var(--light-color), 1);
            border-radius: 1.5625rem;
            @include media-breakpoint-down(md) {
                padding: 1.5625rem .625rem;
            }
        }
        .outline-box {
            position: absolute;
            left: 0;
            bottom: -2px;
            width: calc(100% + 35px);
            @include media-breakpoint-down(xl) {
                display: none;
            }
        }
    }
    .feature-main-wrapper {
        margin-left: -1.875rem;
        margin-right: -1.875rem;
        @include media-breakpoint-down(xxl) {
            margin-left: -1.25rem;
            margin-right: -1.25rem;
        }
        @include media-breakpoint-down(xl) {
            margin-left: -0.8rem;
            margin-right: -0.8rem;
        }
        @include media-breakpoint-down(sm) {
            margin-left: -.75rem;
            margin-right: -.75rem;
        }
        > div {
            padding-left: 1.875rem;
            padding-right: 1.875rem;
            @include media-breakpoint-down(xxl) {
                padding-left: 1.25rem;
                padding-right: 1.25rem;
            }
            @include media-breakpoint-down(xl) {
                padding-left: 0.8rem;
                padding-right: 0.8rem;
            }
            @include media-breakpoint-down(sm) {
                padding-left: .75rem;
                padding-right: .75rem;
            }
            &:last-child {
                .feature-wrapper {
                    .outline-box {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}
/**=====================
    Feature css end
==========================**/