/**=====================
    Header css start
==========================**/
.dropdown-item {
    color: var(--bs-nav-link-color);
    text-transform: capitalize;

    &.active,
    &:active {
        background-color: rgba(var(--primary), 1);
    }

    &:focus-visible {
        outline: none;
    }
}

.navbar-toggler-icon {
    @include media-breakpoint-down(md) {
        width: 1em;
        height: 1em;
    }
}

header {
    .navbar-brand {
        img {
            @include media-breakpoint-down(sm) {
                width: 5.625rem;
            }
        }
    }

    .navbar-collapse {
        flex-grow: unset;

        @include media-breakpoint-down(lg) {
            position: absolute;
            top: 60px;
            padding: 10px;
            background-color: rgba(var(--white), 1);
            z-index: 9;
            box-shadow: 5px 5px 5px rgba(var(--black), 0.02);
            padding: 1.5625rem;
            right: 21%;
            width: 13.125rem;
        }
    }

    .navbar-expand-lg {
        .navbar-nav {
            .nav-link {
                padding: 0;

                &.active {
                    color: rgba(var(--primary), 1);
                }
            }
        }
    }

    .navbar-nav {
        gap: 1.875rem;

        @include media-breakpoint-down(lg) {
            gap: .625rem;
        }
    }

    .navbar {
        padding-top: 1.125rem;
        padding-bottom: 1.125rem;

        @include media-breakpoint-down(lg) {
            padding-top: .625rem;
            padding-bottom: .625rem;
        }

        >.container {
            gap: 10px;
        }
    }

    .navbar-toggler {
        margin-left: auto;
        padding: 0;
        border: none;

        &:focus {
            box-shadow: none;
        }
    }
}

.header-absolute {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;

    .bg-light {
        background-color: transparent !important;
    }
}

.header-3 {
    .navbar-nav {
        .nav-item {
            &:nth-last-child(-n + 2) {
                .nav-link {
                    @include media-breakpoint-up(xl) {
                        color: rgba(var(--white), 1);
                    }
                }
            }

        }
    }
}


.nft-search {
    position: relative;

    svg {
        position: absolute;
        width: 0.9375rem;
        height: 0.9375rem;
        right: 0.75rem;

    }
}

/**=====================
    Header css end
==========================**/